{% if absolute_path %}
{% set img_path = fullsize_img %}
{% else %}
{% set img_path = page.colocated_path ~ fullsize_img %}
{% endif %}
{% set caption = caption | default(value='Oops, no caption! Hehehe') %}
{% set thumb_image = resize_image(path=img_path, width=540, height=540, op="fill") %}

<div class="thumb">    
    <a href="{{ get_url(path=img_path) }}">
        <figure>
            <img src="{{ thumb_image.url }}" alt="{{ caption | striptags }}"/>
            <figcaption>
                {{ caption }}
            </figcaption>
        </figure>
    </a>
</div>