{% macro head() %}
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path='skeleton.css') }}">



</head>
{% endmacro head %}

{% macro header(config, current_page="blog") %}
    <div class="site-logo">
        <a href="{{ config.base_url }}"><img src="{{ get_url(path='assets/logo.png') }}"></a>
    </div>
    <div class="menu-title">{{ config.title }}</div>
    <nav>
        <ul>
            <li {% if current_page=="blog" %} class="selected" {% endif %}>
                <a href="{{ config.base_url }}">Blog</a>
            </li>
            <li {% if current_page=="projects" %} class="selected" {% endif %}>
                <a href="/pages/projects">Projects</a>
            </li>
            <li {% if current_page=="guides" %} class="selected" {% endif %}>
                <a href="/pages/guides">Guides</a>
            </li>
            <li {% if current_page=="about" %} class="selected" {% endif %}>
                <a href="/pages/about">About</a>
            </li>
        </ul>
    </nav>
    <div class="soc-icons">

        <a href="{{ config.extra.linkedin }}">
            <img src="{{ get_url(path='assets/soc-icon-linkedin.svg') }}">
        </a>

        <a href="{{ config.extra.github }}">
            <img src="{{ get_url(path='assets/soc-icon-gh.svg') }}">
        </a>

    </div>
{% endmacro header %}